
/*core styles*/
.disable-scroll{
  height: 100%;
  overflow: hidden;
}

.metro-interactive{
    padding:15px 0px;
    min-width:320px;
    margin:0rem auto;
}

.metro-interactive .c-fix:after{
  content:""; 
  display:table; 
  clear:both;
}

/*use border-box on div containers*/
.metro-interactive, .metro-interactive div, .metro-interactive .border-box{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.metro-interactive select{
  font-size:0.9rem;
  color:#555555;
  padding:0.25em 1rem 0.25rem 0.5rem;

  background-color:#ffffff;
  border:1px solid #ffffff;
  border-radius:7px;
  -moz-appearance:none;
}

.metro-interactive ul{
  list-style-type:disc;
  padding-left:2rem;
}

/*end core styles*/


/*oic dashboard*/
.metro-interactive .dashboard-wrap{
  position:relative;
  max-width:1900px;
  margin:0rem auto;
}

.metro-interactive .dashboard-wrap p{
  margin:0rem 0rem 5px 0rem;
  color:#333333;
}

.metro-interactive .dashboard-menu{
  padding:10px 1rem 10px 1rem; 
  position:relative;
  border-bottom:1px solid #ffffff;
  margin-bottom:0rem;
  background-color:#333333;
  background: -webkit-linear-gradient(to left, #243B55, #141E30);
  background: linear-gradient(to left, #243B55, #141E30); 
}
.metro-interactive .dashboard-menu > * {margin:5px 0px 0px 0px; float:left;}
.metro-interactive .dashboard-menu > div > p {padding: 4px 0px; color:#ffffff;}

.metro-interactive #dashboard-typology{
  margin-bottom:1.5rem;
  background-color:#dddddd;
}

.metro-interactive .dashboard-wrap .dashboard-options-button{float:right;}

.metro-interactive .dashboard-wrap .dashboard-options-button > p {
  box-shadow: 2px 3px 5px rgba(50,50,50,.25);
  cursor:pointer;
  padding:4px 12px;
  /*background-color:#1d2b3a;*/
  border-radius:15px;
  /*color:#ffffff;*/
  border:1px solid #aaaaaa;
  user-select:none;
}

.metro-interactive .dashboard-wrap .dashboard-options-button:hover > p {
  transform: translateY(-2px);
  box-shadow: 2px 5px 7px rgba(50,50,50,.28);
}

.metro-interactive .dashboard-wrap .dashboard-options-button:active > p {
  transform: translateY(0px);
  box-shadow: 2px 2px 8px rgba(50,50,50,.38);
}




/*the dashboard is made up of three panels
  --each panel has 0 or more sections
  ----each section has 1 or more tiles*/ 

.metro-interactive .dashboard-panel{
  float:left;
  padding:0rem 1rem 0rem 1rem;
  margin:0rem 0px 1rem 0px;
}

.metro-interactive .dashboard-panel > div{

}

.metro-interactive .dashboard-panel-title{
  margin:0rem 0rem 10px 0rem;
  padding:5px 15px 0px 20px; 
  /*border:1px solid #1d2b3a;
  background-color:#1d2b3a;*/
  border-radius:0px 15px 0px 0px; 
  border:0px solid #aaaaaa;
}

.metro-interactive .dashboard-panel-title > p{
  font-style:italic;
}
.metro-interactive .dashboard-panel-title > p:first-child{
  font-weight:bold;
  font-style:normal;
  font-size:1.25rem;
  margin:5px 0rem;
}

.metro-interactive .dashboard-panel-title > div{
  width: 100%;
  display:table;
  min-height:3rem;
}
.metro-interactive .dashboard-panel-title > div > div{
  display:table-row;
}

.metro-interactive .dashboard-panel-title > div > div > p{
  vertical-align:bottom;
  display:table-cell;
  font-weight:bold;
}

.metro-interactive .dashboard-panel-image{
  max-width:600px;
  height:280px;
  filter: grayscale(50%);
  background-size:cover;
  background-color:#1d2b3a;
  border-radius:0px;
  border:none;
  position:relative;
  border-radius: 0px 16px 16px 0px;
}

.metro-interactive .dashboard-panel-image p:first-child {
  color:#ffffff;
  text-shadow: 3px 3px 8px rgba(255,255,255,0.2);
}


.metro-interactive .dashboard-panel-section{
  padding:0.5rem 10px 0rem 10px;
  margin:0px 0px 10px 0px;
  border:0px solid #aaaaaa;
  background-color:transparent;
}

.metro-interactive .dashboard-panel-section .section-title{
  font-weight:bold;
  font-size:0.85rem;
  line-height:1em;
  margin:0px 10px;
  padding:10px 0px 10px 12px;
  border-bottom:1px solid #aaaaaa;
  position:relative;
}

.metro-interactive .dashboard-panel-section .section-title:before{
  content:"";
  position:absolute;
  left:0px;
  top:10px;
  width:5px;
  border-radius:0em;
  height:1em;
  background-color:#1d2b3a;
  background-color:#333333;
  border:0px solid #ffffff;
}


.metro-interactive .dashboard-tile{
  float:left;
  margin:0px;
  width:100%;
  max-width:480px;
  min-height:100px;
  padding:5px 10px 5px 10px;
}

.metro-interactive .dashboard-tile svg{
  background-color:#eeeeee;
  border:1px solid #d0d0d0;
  border-radius:5px;
}

.metro-interactive .dashboard-tile p{
  font-size:15px;
  line-height:20px;
}

.metro-interactive .dashboard-tile p > span{
  white-space: nowrap;
}

.metro-interactive .dashboard-tile .tile-header{
  vertical-align:bottom;
  line-height:100%;
}

.metro-interactive .dashboard-tile .tile-header p{
  display:inline-block;
  line-height:1.5em;
  vertical-align:bottom;
}

.metro-interactive .criterion{
  margin:1rem 0rem 2rem 0rem;
}

.metro-interactive .criterion p{
  margin:0.5em 10% 0em 2em;
  font-size:15px;
  line-height: 1.4em;
  font-style:italic;
}

.metro-interactive .criterion p.criteria-title{
  font-weight:bold;
  line-height:1.6em;
  background-color:#dddddd;
  border-radius:0.8em;
  margin-left:0rem;
  margin-right:5%;
  font-style:normal;
  max-width:none;
}

.metro-interactive .criterion p.criteria-title span{
  display:inline-block;
  background-color:#333333;
  color:#ffffff;
  border-radius:0.8em;
  height:1.6em;
  line-height:1em;
  padding:0.3em;
  width:1.6em;
  text-align:center;
  margin:0px 0.4em 0px 0px;
  box-sizing: border-box;
}

.metro-interactive .criterion p.criteria-value span{
  font-weight:bold;
  font-size:2em;
  display:inline-block;
  margin:6px 0px 0px 0px;
  font-style:normal;
}


/*end oic dashboard*/


@media (min-width:0px){
  .metro-interactive{padding:15px 0px;}
  .metro-interactive .dashboard-panel{padding:5px; width:100%;}
  .metro-interactive .dashboard-panel-section{padding:5px 0px;}
  .metro-interactive .dashboard-tile{margin:0px auto; width:100%; float:none; padding:5px 10px 5px 10px;}
  .metro-interactive .dashboard-panel-title{padding:5px 10px 0px 10px; }
  .metro-interactive .dashboard-panel-section .section-title{}
}

@media (min-width:480px){
  .metro-interactive{padding:15px 0px;}
  .metro-interactive .dashboard-tile{}
  .metro-interactive .dashboard-panel-title{padding:5px 15px 0px 20px; }
  .metro-interactive .dashboard-panel-section{padding:5px 10px 0rem 10px;}
  .metro-interactive .dashboard-panel-section .section-title{}
}

@media (min-width:670px){
  .metro-interactive .dashboard-panel{width:50%; padding:0rem 1rem 0rem 1rem;}
  .metro-interactive .dashboard-tile{width:100%;margin:0px;}
  .metro-interactive .dashboard-panel-title{}

  .metro-interactive .dashboard-panel:first-child{width:100%;float:none;}
  .metro-interactive .dashboard-panel:first-child .dashboard-tile{width:33.3%; float:left;}
}

@media (min-width:1180px){
  .metro-interactive .dashboard-tile{margin:0px auto;width:50%; float:left;}
  .metro-interactive .dashboard-panel{width:36%;}

  .metro-interactive .dashboard-panel:first-child{width:28%;float:left;}
  .metro-interactive .dashboard-panel:first-child .dashboard-tile{width:100%; float:none;}
}